{% extends "base.html" %}
{% load crispy_forms_tags %}
<body>
{% block content %}
<div>
{% if past_messages %}
    {% for msg in past_messages %}
    <!-- must align messages to right or left side of screen depending on who they're from (recipient/sender) -->
    <div align="left">
    <div class="font-weight-bold">{{ msg.sender.user_name }} <small>{{ msg.message_dt|date:'Y-m-d g:i' }}</small><br>
        <div class="font-weight-normal">{{ msg.message_content }}</div></div>
        <hr>
    </div>
    {% endfor %}
{% else %}
<p> You have not sent this user any messages or vice versa</p>
{% endif %}
</div>
<div>
<!-- This is where the message form will go (Text box and send button) -->
    {% if form %}
    <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Send</button>
    </form>
    {% endif %}
</div>

{% endblock %}
</body>

