{% extends "base.html" %}
{% block content %}
<body>
    {% if is_co %}
        {% if contactable_users %}
            {% for pet_names, interested_adopters in contactable_users %}
            <p>{{ interested_adopters.user_name }}  Re: {{pet_names.pet_name}} > </p>
            {% endfor %}
        {% else %}
        <p> You cannot contact any adopters yet, since they haven't liked any of your pets. Once they mark a pet
        as interested, you can contact them and vice versa.</p>
        {% endif %}
    {% else %}
        {% if contactable_users %}
            {% for owner in contactable_users %}
            <p>{{ owner.user_name }} > </p>
            {% endfor %}
        {% else %}
        <p> You cannot contact any owners yet, since you haven't liked any pets. Once you mark a pet
        as interested, you can contact their owner.</p>
        {% endif %}
    {% endif %}
</body>
{% endblock %}

