{% extends "base.html" %}
{% block content %}
    <h3> {{pet.pet_name}} </h3>
    <hr>
<div class="grid text-center">
    <div class="g-col-6">
            <img src="{{pet.profile_pic.url}}" alt="{{pet.pet_name}}" style="border:3px solid gray; border-radius:5px" width="250px" height="250px">
    </div>
            <div>
                <div class="font-weight-bold"> Sex:</div><div>{{pet.sex}} </div> <div class="font-weight-bold"> Age:</div> <div>{{pet.age}}</div> <div class="font-weight-bold"> Size:</div> <div>{{pet.size}}</div>
                <div class="font-weight-bold"> Spayed/Neutered:</div> <div>{{pet.spayed_or_neutered}}</div>
                <div class="font-weight-bold"> Good With Kids: </div> <div>{{pet.good_w_kids}}</div>
                <div class="font-weight-bold">Description: </div>
                <div> {{pet.description}} </div>
                <div class="font-weight-bold">Rehoming reason: </div>
                <div> {{pet.rehoming_reason}} </div>
            </div>
</div>
{% if editor %}
    <button type="submit" class="btn btn-success">Edit Pet Profile</button>
    <a href="{% url delete_pet pet.pet_profile_id %}" >Delete Pet Profile</a>
{% endif %}
{% endblock %}