{% extends "base.html" %}
{% block content %}
    <h3> {{pet.pet_name}} </h3>
    <hr>
    <div class="container text-center">
        <div class="text-right">
        </div>
        <div class="row">
                <div class="col">
                    <div class="text-left">
                        <div class="font-weight-bold"> Sex:</div><div>{{pet.sex}} </div> <div class="font-weight-bold"> Age:</div> <div>{{pet.age}}</div> <div class="font-weight-bold"> Size:</div> <div>{{pet.size}}</div>
                        <div class="font-weight-bold"> Spayed/Neutered:</div> <div>{{pet.spayed_or_neutered}}</div>
                        <div class="font-weight-bold"> Good With Kids: </div> <div>{{pet.good_w_kids}}</div>
                        <div class="font-weight-bold">Description: </div>
                        <div> {{pet.description}} </div>
                        <div class="font-weight-bold">Rehoming reason: </div>
                        <div> {{pet.rehoming_reason}} </div>
                        {% if pet.is_adopted %}
                            <div class="font-weight-bold"> Adoption status:</div> <div>{{pet.pet_name}} has been adopted!</div>
                        {% else %}
                            <div class="font-weight-bold"> Adoption status:</div> <div>{{pet.pet_name}} is looking for a home!</div>
                        {% endif %}
                    </div>
                    {% if editor %}
                        <div class="text-left">
                            <br>
                            <a href="{% url 'edit_pet_profile' pet.pet_profile_id%}">Edit Pet Profile</a>
                            &#x2022;
                            <a href="{% url 'delete_pet_profile' pet.pet_profile_id %}"> Delete Pet Profile</a>
                            <br><br>
                            {% if pet.is_adopted %}
                                <a href="{% url 'update_adoption_status' pet.pet_profile_id %}">Unmark Pet As Adopted</a>
                            {% else %}
                                <a href="{% url 'update_adoption_status' pet.pet_profile_id %}">Mark Pet As Adopted</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if adopter %}
                    <br>
                    <div class="text-left">
                        <form action="{% url 'update_interest_status' pet.pet_profile_id %}" method="POST">
                            {% csrf_token %}
                            {% if fo in pet.interested_users.all %}
                                <button type="submit" class="btn btn-success">Remove from interested</button>
                            {% else %}
                                <button type="submit" class="btn btn-success">I'm Interested</button>
                            {% endif %}
                        </form>
                    </div>
                    {% endif %}
                </div>
                {% if pet.profile_pic.url is not None %}
                <div class="col">
                    <img src="{{pet.profile_pic.url}}" alt="{{pet.pet_name}}" style="border:3px solid gray; border-radius:5px" width="250px" height="250px">
                </div>
                {% endif %}
        </div>
    </div>
{% endblock %}