<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Fureverhomes Account</title>
</head>
<body>
    <form>
        <label>First Name</label>
        <input type="text" id="firstname">
        <br>
        <label>Last Name</label>
        <input type="text" id="lastname">
        <br>
        <label>Email</label>
        <input type="email">
        <br>
        <label>Account password</label>
        <input type="text" id="password1">
        <label>Re-enter password</label>
        <input type="text" id="password2">
        <br>
        <label>Address</label>
        <input type="text" id="address">
        <br>
        <label>Account Type: You are joining Furever Homes to...</label>
        <input type="radio" name="owner_type" id="CO" value="CO">
        <label for="CO">Rehome a Pet </label>
        <input type="radio" name="owner_type" id="FO" value="FO">
        <label for="FO">Adopt a Pet </label>
        <br>
        <button> Create Account </button>
    </form>
</body>
</html>