<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Furever Homes Login</title>
</head>
<body>
<h1> Welcome to Furever Homes! </h1>
<p> Login to your account</p>
<form>
<label>Email: </label>
    <input type="email" id="user_email">
<label >Password: </label>
    <input type="password" id="user_password">
    <button type="button" id="login">Login</button>
</form>
<p> Don't have an account with us?</p>
<button id="create_account" type="submit" onclick="location.href = '{% url 'create_account' %}'">Create Account</button>
</body>
</html>