{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
    <h1>Welcome to Furever Homes</h1>
    <h2>Create a profile for your pet here.</h2>
    <button type="submit" onclick="location.href = '{% url 'select_pet_type' %}'" value="submit" class="btn btn-success">Create Profile</button>
<br>
<div>
<h2>Your Pets</h2>
    <div>
    {% if pets %}
        {% for i in pets %}
            {% if i.profile_pic %}
                <img src="{{i.profile_pic.url}}" alt="{{i.pet_name}}" width="250px" height="250px">
            {% else %}
                <img src="paw.jpg" alt="No picture available" width="250px" height="250px">
            {% endif %}
        <p>{{i.pet_name}}</p>
        {% endfor %}
    </div>
    {% else %}
    <div>
     <p>You do not currently have any pets</p>
   </div>
    {% endif %}
    <h3> View Website Code of Conduct</h3>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
    <p> You are not logged in</p>
<p><a href="{% url 'home' %}"> Login Here</a></p>
    {% endif %}
    {% endblock %}
</div>