{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Welcome to Furever Homes</h1>
    <h2>Create a profile for your pet here.</h2>
    <button type="submit" onclick="location.href = '{% url 'select_pet_type' %}'" value="submit" class="btn btn-success">Create Profile</button>

<div>
<h2>Your Pets</h2>
    <div>
    {% if pets %}
        {% for i in pets %}
        <p>{{i.pet_name}}</p>
        {% endfor %}
    </div>
    {% else %}
    <div>
     <p>You do not currently have any pets</p>
   </div>
    {% endif %}
    {% endblock %}
</div>