{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Your Account</title>
</head>
<body>
    <h1>Welcome to Furever Homes</h1>

    <h2>View or Change Your Preferences</h2>
        <p>What kind of pet are you looking for?</p>

    <h2>View Pets Near Me</h2>
        <p>If you're happy with your preferences click here to view pets we'd think you'd like near you.</p>

    <h2>View Pets I'm Interested In</h2>
        <p>Here are pets you wanted to keep an eye on</p>


<h3> View Website Code of Conduct</h3>
</body>
    {% endblock %}
